%table.fixed-table
  %tr
    %th.wider-cell
      - skills_heading(scores_reporter.tasks)
    %th= t('total')
    %th %

  %tr
    %th= ta(Task, :number)
    - scores_reporter.tasks.each do |task|
      %th
        = task.extended_number
        %br
        = "(#{task.max_points} #{t('points.abbr')})"
    %th= scores_reporter.total_points_for_tasks
    %th

  %tr
    %th= t('.average_score')
    - scores_reporter.group_average_score.each do |score|
      %th= score.round(1)
    %th
    %th

  %tr
    %th= t('.average_percentage')
    - scores_reporter.group_average_percentage.each do |score|
      %th= number_to_percentage(score)
    %th
    %th

  %tr
    %th= t('.median')

    - scores_reporter.group_median.each do |score|
      %th= score

    %th
    %th

  %tr
    %th= t('.mode')

    - scores_reporter.group_mode.each do |score|
      %th= score

    %th
    %th

  %tr
    %th= t('.min')

    - scores_reporter.group_min.each do |score|
      %th= score

    %th
    %th

  %tr
    %th= t('.max')
    - scores_reporter.group_max.each do |score|
      %th= score
    %th
    %th

  %tr
    %th= t('.sum')
    - scores_reporter.group_sum.each do |score|
      %th= score
    %th
    %th

  %tr
    %th= t('.easiness')
    - scores_reporter.group_easiness.each do |score|
      %th= score.round(2)
    %th
    %th

  - scores_reporter.students_results.each do |student|
    %tr
      %td= student.name
      - student.tasks.each do |score|
        %td= score

      %td= student.total_for_all_tasks
      %td= number_to_percentage(student.percentage)
