.page-heading
  .heading-accent
  %h1= @group.name

  .actions

%ul.accordion-tabs-minimal
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "#"} Podstawa
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell
            - skills_heading(@group.students.first.standard_tasks)

        %tr
          %th

          - @group.students.first.standard_tasks.each do |task|
            %th= task.extended_number

        %tr
          %th= t('.max_points')

          - @group.students.first.standard_tasks.each do |task|
            %th= task.max_points

        %tr
          %th= t('.average_score')

          - @group.students.first.standard_tasks.each do |task|
            %th= task.average_score(@group)

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.standard_tasks.each do |task|
              %td= task.full_score(student)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Rozszerzenie
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell
            - skills_heading(@group.students.first.extended_tasks)

        %tr
          %th.wider-cell= tc(Student)

          - @group.students.first.extended_tasks.each do |task|
            %th= task.extended_number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.extended_tasks.each do |task|
              %td= task.full_score(student)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Dwujęzyczne
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell
            - skills_heading(@group.students.first.bilingual_tasks)

        %tr
          %th.wider-cell= tc(Student)

          - @group.students.first.bilingual_tasks.each do |task|
            %th= task.extended_number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.bilingual_tasks.each do |task|
              %td= task.full_score(student)
