.page-heading
  .heading-accent
  %h1= @group.name

  .actions

%ul.accordion-tabs-minimal
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "#"} Podstawa
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell
            - skills_heading(@group.standard_tasks)
          %th= t('total')
          %th %

        %tr
          %th= ta(Task, :number)

          - @group.standard_tasks.each do |task|
            %th
              = task.extended_number
              %br
              = "(#{task.max_points} #{t('points.abbr')})"

          %th= @group.standard_tasks.map { |t| t.max_points }.reduce(:+)
          %th

        %tr
          %th= t('.average_score')

          - @group.standard_tasks.each do |task|
            %th= task.average_score(@group, 'standard')

          %th
          %th

        %tr
          %th= t('.average_percentage')

          - @group.standard_tasks.each do |task|
            %th= number_to_percentage(task.average_percentage(@group, 'standard'))

          %th
          %th

        %tr
          %th= t('.median')

          - @group.standard_tasks.each do |task|
            %th= task.median(@group, 'standard')

          %th
          %th

        %tr
          %th= t('.mode')

          - @group.standard_tasks.each do |task|
            %th= task.mode(@group, 'standard')

          %th
          %th

        %tr
          %th= t('.min')

          - @group.standard_tasks.each do |task|
            %th= task.min(@group, 'standard')

          %th
          %th

        %tr
          %th= t('.max')

          - @group.standard_tasks.each do |task|
            %th= task.max(@group, 'standard')

          %th
          %th

        %tr
          %th= t('.sum')

          - @group.standard_tasks.each do |task|
            %th= task.total(@group, 'standard')

          %th
          %th

        %tr
          %th= t('.easiness')

          - @group.standard_tasks.each do |task|
            %th= task.easiness(@group, 'standard').round(2)

          %th
          %th

        - @group.students.standard.each do |student|
          %tr
            %td= student.name
            - student.standard_tasks.each do |task|
              %td= task.full_score(student)

            %td= student.total_for_all_tasks('standard')
            %td= number_to_percentage(student.score_percentage(@group, 'standard'))

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Rozszerzenie
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell
            - skills_heading(@group.extended_tasks)

        %tr
          %th.wider-cell= tc(Student)

          - @group.extended_tasks.each do |task|
            %th= task.extended_number

        - @group.students.extended.each do |student|
          %tr
            %td= student.name
            - student.extended_tasks.each do |task|
              %td= task.full_score(student)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Dwujęzyczne
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell
            - skills_heading(@group.bilingual_tasks)

        %tr
          %th.wider-cell= tc(Student)

          - @group.bilingual_tasks.each do |task|
            %th= task.extended_number

        - @group.students.bilingual.each do |student|
          %tr
            %td= student.name
            - student.bilingual_tasks.each do |task|
              %td= task.full_score(student)
