.page-heading
  .heading-accent
  %h1= tc_few(Exam)

  .actions
    = link_to t('.new_exam'), new_admin_exam_path, class: 'btn btn-info'

%table
  %tr
    %th= t('number')
    %th= ta(Exam, :name)
    %th= t('actions')

  - @exams.each_with_index do |exam, idx|
    %tr
      %td= idx + 1
      %td= exam.name
      %td= link_to t('edit'), edit_admin_exam_path(exam), class: 'btn btn-info'
