%h1 Utwórz zadanie
= simple_form_for [@exam, @task] do |f|
  = f.input :number
  = f.simple_fields_for :subtasks do |ff|
    = ff.input :name

  = f.input :skill, collection: Skill.pluck(:name)
  = f.input :level, collection: Task::LEVELS
  = f.button :submit
