%h1
  Grupa #{@group.name}
%h2 Uczniowie:
%ul
  - @group.students.each do |student|
    %li
      = student.name
      | #{link_to "Dodaj oceny", edit_exam_group_student_path(@exam, @group, student)}
= simple_form_for [@exam, @group, @student] do |f|
  = f.button :submit, value: 'Dodaj ucznia'
