.page-header
  %h1= tc_few(Student)

.users-list
  %table
    %tr
      %th= t('number')
      %th= ta(Student, :name)

    - @students.each_with_index do |student, idx|
      %tr
        %td= idx + 1
        %td= student.name

= link_to t('.add_student'), admin_group_students_path(@group), method: :post, class: 'btn btn-info'
= link_to_modal t('.amend_students_number'), '#amend-students-number', class: 'btn btn-info'

%div{ id: 'amend-students-number', class: 'students-number-modal' }
  = form_tag update_number_admin_group_students_path(@group), method: :put do
    %p
      = t('.enter_number')
    %p
      = text_field_tag :students_count
    %p
      = submit_tag t('confirm'), class: 'btn btn-info'
      = link_to t('cancel'), '#close-modal', rel: 'modal:close', class: 'btn btn-info'
