%h1 List of groups
%table
  %tr
    %th Nazwa grupy
    %th Typ grupy
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.kind
      %td
        = link_to 'Wyświetl', exam_group_students_path(@exam, group)
        %br/
        = link_to 'Edytuj', edit_exam_group_path(@exam, group)

= link_to 'Utwórz nową grupę', new_exam_group_path(@exam)
