<h1>Grupa <%= @group.name %></h1>

<h2>Uczniowie:</h2>

<ul>
<% @group.students.each do |student| %>
  <li><%= student.student_name %> | <%= link_to "Dodaj oceny", edit_exam_group_student_path(@exam, @group, student) %></li>
<% end %>
</ul>

<%= form_for [@exam, @group, @student] do |f| %>
  <%= f.submit "Dodaj ucznia" %>
<% end %>
