%h2= @group.name

%ul.accordion-tabs-minimal
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "#"} Podstawa
    .tab-content
      %table
        %tr
          %th= tc(Student)

          - @group.students.first.standard_tasks.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.standard_tasks.each do |task|
              %td= link_to task.full_score(student), edit_exam_student_task_path(student, task)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Rozszerzenie
    .tab-content
      %table
        %tr
          %th= tc(Student)

          - @group.students.first.scores.extended.each do |score|
            %th= score.subtask

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.scores.extended.each do |score|
              %td= score.score

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Dwujęzyczne
    .tab-content
      %table
        %tr
          %th= tc(Student)

          - @group.students.first.scores.bilingual.each do |score|
            %th= score.subtask

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.scores.bilingual.each do |score|
              %td= score.score
