%h2= @group.name

%ul.accordion-tabs-minimal
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "#"} Podstawa
    .tab-content
      %table.fixed-table
        %tr
          %th.wider-cell= tc(Student)

          - @group.students.first.standard_tasks.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.standard_tasks.each do |task|
              %td= link_to task.full_score(student), edit_exam_student_task_path(student, task)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Rozszerzenie
    .tab-content.fixed-table
      %table
        %tr
          %th.wider-cell= tc(Student)

          - @group.students.first.extended_tasks.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.extended_tasks.each do |task|
              %td= link_to task.full_score(student), edit_exam_student_task_path(student, task)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Dwujęzyczne
    .tab-content.fixed-table
      %table
        %tr
          %th.wider-cell= tc(Student)

          - @group.students.first.bilingual_tasks.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.bilingual_tasks.each do |task|
              %td= link_to task.full_score(student), edit_exam_student_task_path(student, task)
