%h2= @group.name

%ul.accordion-tabs-minimal
  %li.tab-header-and-content
    %a.tab-link.is-active{:href => "#"} Podstawa
    .tab-content
      %table
        %tr
          %th= tc(Student)

          - @tasks.standard.uniq.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.tasks.standard.uniq.each do |task|
              %td= student.sum_scores_by_task(task.id)


  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Rozszerzenie
    .tab-content
      %table
        %tr
          %th= tc(Student)

          - @tasks.extended.uniq.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.tasks.extended.uniq.each do |task|
              %td= student.sum_scores_by_task(task.id)

  %li.tab-header-and-content
    %a.tab-link{:href => "#"} Dwujęzyczne
    .tab-content
      %table
        %tr
          %th= tc(Student)

          - @tasks.bilingual.uniq.each do |task|
            %th= task.number

        - @group.students.each do |student|
          %tr
            %td= student.name
            - student.tasks.bilingual.uniq.each do |task|
              %td= student.sum_scores_by_task(task.id)
