%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link.more
          = fa_link current_exam, '#', 'caret-down'
          %ul.submenu
            - available_exams.reject{ |exam| exam == current_exam }.each do |exam|
              %li= link_to exam, set_current_exam_path(exam), method: :put
        %li= fa_link "#{t('sign_out')} #{current_user.first_name}", destroy_user_session_path, 'power-off', method: :delete
