%h1= t('.title')

.actions
  = link_to t('.new_group'), new_admin_group_path

%table
  %tr
    %th= t('number')
    %th= ta(Group, :name)
    %th= ta(Group, :kind)
    %th= t('.number_of_students')
    %th= t('actions')

  - @groups.each_with_index do |group, idx|
    %tr
      %td= idx + 1
      %td= group.name
      %td= group.kind
      %td= group.students_number
      %td
        = link_to t('edit'), edit_admin_group_path(group)
        = link_to t('view_students'), admin_group_students_path(group)
        = link_to t('destroy'), admin_group_path(group), method: :delete, data: { confirm: t('confirm') }
