= simple_form_for [:admin, @user] do |f|
  .row
    .col-6
      = f.input :username
      = f.input :email
      = f.input :password
      = f.input :password_confirmation

    .col-6.col-last
      = f.input :first_name
      = f.input :last_name
      = f.input :role, collection: User::ROLES
      = f.association :groups, collection: groups_for_select

  .row
    .col-12
      = f.submit t('save'), class: 'btn btn-info'
