.page-header
  %h1= tc_few(User)

.users-list
  %table
    %tr
      %th= t('number')
      %th= ta(User, :username)
      %th= ta(User, :first_name)
      %th= ta(User, :last_name)
      %th= ta(User, :email)
      %th= ta(User, :role)
      %th= t('actions')

    - @users.each_with_index do |user, idx|
      %tr
        %td= idx + 1
        %td= user.username
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.role
        %td= link_to t('edit'), edit_admin_user_path(user)
