<h1>Egzamin z roku <%= @exam.year %></h1>

<h2>Grupy</h2>

<table>
  <tr>
    <th>Nazwa grupy</th>
    <th>Typ grupy</th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.group_type %></td>
      <td>
        <%= link_to 'Wyświetl', exam_group_path(@exam, group) %><br />
        <%= link_to 'Edytuj', edit_exam_group_path(@exam, group) %>
      </td>
    </tr>
  <% end %>
</table>
