!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Matura
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body    
    %input{ type: 'checkbox', id: 'sidebartoggler' }

    .wrapper
      %label{ for: 'sidebartoggler', class: 'nav-toggle' }☰

      %aside.sidebar
        = render 'layouts/sidebar'

      .page-content
        = yield
